.bg-info {
  background-color: #17a2b8 !important;
}

.jumbotron {
  height: 250px;
}




.custom-button {
  color: #fff;
  border-color: #ff4081;
  background-color: #7cda43;

  &:hover {
    background-color: #303f9f;
    border-color: #ff4081;
  }
}

.custom-snackbar {
  background-color: #4dff40 !important;
  color: #fff !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

