
<div class="container">
  <h2 class="title text-center pt-1">{{title}}</h2>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row game-list" *ngFor="let group of chunkedProducts">
    <div class="col-md-4" *ngFor="let product of group">
      <div class="card mb-4 product-card">
        <img [src]="product.image" class="card-img-top" [alt]="product.name">
        <div class="card-body">
          <span class="badge badge-success">Llega hoy</span>
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-price">{{ product.price | customCurrency }} <span class="badge bg-danger">{{ product.discount }}%</span></p>
          <p class="card-text"><del>{{ product.originalPrice | customCurrency }}</del></p>
          <div class="rating">
            <ng-container *ngFor="let star of getStars(product.rating)">
              <i [ngClass]="star"></i>
            </ng-container>
            ({{ product.reviews }})
          </div>
          <button class="btn btn-primary btn-block"  (click)="addToCart(product)">Agregar al Carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>

