<footer class="footer-custom mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a class="text-white" href="#">Política de privacidad</a></li>
          <li><a class="text-white" href="#">Términos y condiciones</a></li>
          <li><a class="text-white" href="#">Sobre nosotros</a></li>
          <li><a class="text-white" href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
      <div class="col-md-4">
        <h5>Suscríbete</h5>
        <p>Recibe nuestras últimas noticias y ofertas.</p>
        <form>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Correo electrónico">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Suscribirse</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="mt-4">&copy; 2024 Product Market. Todos los derechos reservados.</p>
  </div>
</footer>
